---
layout: default
---
<!-- _layouts/cv.html -->
<div class="post">
  <object data="{{ site.baseurl }}/assets/pdf/cv.pdf#pagemode=none" type="application/pdf" class="pdf-viewer"></object>
</div>

<style>
  .pdf-viewer {
    width: 100%;
    height: 100vh; /* Adjust height as needed */
  }

  /* For smaller screens */
  @media only screen and (max-width: 768px) {
    .pdf-viewer {
      height: 80vh; /* You can adjust this based on how much space you want on mobile */
    }
  }
</style>
